* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: grey url('blokje.jpg') repeat;
}
#zwart {
  background-color: black;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 200px;
  width: 200px;
}

#groen {
  background-color: green;
  position: relative;
  top: 475px;
  left: 60px;
  z-index: 9;
    height: 100px;
  width: 100px;
}

#rood {
  background-color: red;
  position: relative;
  top: 325px;
  left: 0px;
  z-index: 3;
    height: 100px;
  width: 100px;
}

#blauw {
  background-color: blue;
  position: relative;
  top: 320px;
  left: 95px;
  z-index:5 ;
    height: 100px;
  width: 100px;
}

#geel {
  background-color: yellow;
  position: relative;
  top: 125px;
  left: 0px;
  z-index: 2;
  height: 125px;
  width: 125px;
}
#kleurencontainer {
  position: absolute;
  top: 0px;
  left: 750px;
}
header {
  background-image:url('websiteding.jpg');
  width: 960px;
  height: 150px;

}
header h1 { 
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: right;
  text-shadow: 5px 5px 7px #000000;
}
ul {
  background: #080808;
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}
.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}
div {

}
